@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wdth,wght@25..151,100..1000&display=swap');
@import '/fonts/style.css';

html {
  min-height: 100vh;
  display: flex;
}

body,
#root {
  display: flex;
  flex: 1;
  background-color: white;
  font-family: 'Monaco', sans-serif;
}

input,
textarea,
button {
  font-family: 'Monaco', sans-serif;
}
